<%- include('partials/header') -%>

<div class="image">
  <img class="pic" src="/assets/pic.jpg" alt="">
</div>

<div class="name">
  <p>Bio</p>
  <p>My name is Jules Comte, and I have lived in France, Spain, and the UK before coming to the US for high school. I then took a gap year, and am now in my third year of undergrad studying computer science and electrical engineering. I am excited
    about cryptography and space.</p>
  <p><a href="/assets/Comte_Resume.pdf">Resume</a></p>
  <a href="https://www.linkedin.com/in/julescx/"><i class="fab fa-linkedin-in"></i></a>
  <!-- <a href="https://github.com/jules23"><i class="fab fa-github"></i></a> -->
  <a href="https://angel.co/julescx"><i class="fab fa-angellist"></i></a>
  <!-- <a href="https://twitter.com/julescx_"><i class="fab fa-twitter"></i></a> -->
</div>

<%- include('partials/footer') -%>
