<%- include('partials/header') -%>

<div class="image">
  <img class="pic" src="/assets/sandra.png" alt="">
</div>

<div class="name">
  <p>Bio</p>
  <p>My name is Sandra Jirongo. I was born in Kenya and have lived in Seoul, Berlin, Buenos Aires and before settling in Oakland, CA. I'm a data engineer currently working in adtech. I am excited
    about all things data.</p>
  <!-- <p><a href="/assets/Comte_Resume.pdf">Resume</a></p> -->
  <a href="https://www.linkedin.com/in/sandra-jirongo/"><i class="fab fa-linkedin-in"></i></a>
  <a href="https://github.com/sandrajirongo"><i class="fab fa-github"></i></a>
</div>

<%- include('partials/footer') -%>
